<div>
  <h4>Registrar Persona</h4>
</div>
<div>
  <form #peopleForm="ngForm" (ngSubmit)="onSubmit(peopleForm)">
    <input type="hidden" name="key" [(ngModel)]="peopleService.selectedPeople.key">
    <div class="form-group">
      <label for="name">Nombre: </label>
      <input type="text" id="name" placeholder="Nombre" name="name"  [(ngModel)]="peopleService.selectedPeople.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="one">Apellido 1: </label>
      <input type="text" id="one" placeholder="Apellido 1" name="lastname1" class="form-control" [(ngModel)]="peopleService.selectedPeople.lastname1">
    </div>
    <div class="form-group">
      <label for="two">Apellido 2: </label>
      <input type="text" id="two" placeholder="Apellido 2" name="lastname2" class="form-control" [(ngModel)]="peopleService.selectedPeople.lastname2">
    </div>
    <div class="form-group">
      <label for="photo">Foto: </label>
      <input type="text" id="photo" placeholder="Foto" class="form-control" name="photo" [(ngModel)]="peopleService.selectedPeople.photo">
    </div>
    <div class="form-group">
      <label for="position">Posición: </label>
      <input type="text" id="position" placeholder="Posición" class="form-control" name="position" [(ngModel)]="peopleService.selectedPeople.position">
    </div>
    <div class="form-group">
      <button type="submit" class="form-control">Guardar</button>
    </div>
  </form>
</div>
