<div>
    <!--<h2>Lista de Jugadores</h2>-->
  <h2>TEST</h2>
</div>
<div></div>
<div>
    <!--<ul class="text" *ngFor="let p of people | async">
        <li>
            <div>
                Nombre: {{p.name}} {{p.lastnames?.one}} {{p.lastnames?.two}}
            </div>
            <div>
                Posición: {{p.position}}
            </div>
        </li>
    </ul>-->
  <!--<ul>
    <li *ngFor="let item of items | async">
      <input type="text" #updatetext [value]="item.name" />
      <button (click)="peopleService.updateItem(item.key, updatetext.value)">Update</button>
      <button (click)="peopleService.deleteItem(item.key)">Delete</button>
    </li>
  </ul>
  <input type="text" #newitem />
  <button (click)="peopleService.addItem(newitem.value)">Add</button>
  <button (click)="peopleService.deleteEverything()">Delete All</button>
  <ul>
    <li *ngFor="let item of peopleService.obs | async">
      {{item.name}}
    </li>
  </ul>-->
  <h1>{{ (peopleService.obs | async).name }}</h1>
  <input type="text" #newname placeholder="Name" />
  <input type="text" #newsize placeholder="Size" />
  <br />
  <button (click)="save(newname.value)">Set Name</button>
  <button (click)="update(newsize.value)">Update Size</button>
  <button (click)="delete()">Delete</button>
</div>
<div>
    <h2>Registrar Jugador</h2>
</div>
<div>
    <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Nombre: </label>
            <input type="text" id="name" placeholder="Nombre" formControlName="name">
        </div>
        <div>
            <label for="one">Apellido 1: </label>
            <input type="text" id="one" placeholder="Apellido 1" formControlName="one">
        </div>
        <div>
            <label for="two">Apellido 2: </label>
            <input type="text" id="two" placeholder="Apellido 2" formControlName="two">
        </div>
        <div>
            <label for="photo">Foto: </label>
            <input type="text" id="photo" placeholder="Foto" formControlName="photo">
        </div>
        <div>
            <label for="position">Posición: </label>
            <input type="text" id="position" placeholder="Posición" formControlName="position">
        </div>
        <div>
            <button type="submit">Wiii</button>
        </div>
    </form>
</div>
